.green-icon {
    color: #198754;
}
.red-icon {
    color: #dc3545;
}
.blue-icon {
    color: blue;
}
















/*label {
    font-weight: 600;
}
.card {
    margin: 0px 40px;
}
.badge {
    color: rgb(168, 36, 12)
}*/